.header {
    .nav {
        display: flex;
        position: fixed;
        background-color: transparent;
        flex-wrap: nowrap;
        justify-content: flex-end;

        .header-block {
            // background-color: #000000cc;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            width: 100% !important;
            display: flex;
            align-items: center;
            height: 4rem !important;
            justify-content: space-between;
            padding: 0 16px;
        }

        
    }
}


@media only screen and (max-width: 600px) {
    .images {
        display: none; // hide the images when in mobile view
    }
    .header-block{
        justify-content: center !important;
    }
}

.images{
    margin-right: 8px;
}