<div class="container-box">
    <label class="lable-style-signUp">Sign up to get more updates</label>

    <div class="input-container">
        <input type="email" [formControl]="email"  id="emai" class="input-cls" placeholder="Subscribe here ...">
        <div class="btn_bx">
            <div class="btn_inner">
                <button (click)="signUp()" class="custom-btn">
                    <label class="lable-style-btn">SignUp</label>
                </button>
            </div>
        </div>
    </div>
</div>