.main-page {
    width: 100% !important;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    // display: flex;
    // align-items: center;
    // justify-content: center;
}


.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    min-height: 80%;
    z-index: -1;
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.header {
    .nav {
        display: flex;
        position: fixed;
        background-color: transparent;
        flex-wrap: nowrap;
        justify-content: flex-end;

        .header-block {
            // background-color: #000000cc;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            width: 100% !important;
            display: flex;
            align-items: center;
            height: 4rem !important;
            justify-content: space-between;
            padding: 0 16px;
        }

        
    }
}


@media only screen and (max-width: 600px) {
    .images {
        display: none; // hide the images when in mobile view
    }
    .header-block{
        justify-content: center !important;
    }
}

.images{
    margin-right: 8px;
}

.main-content{
    padding: 54px 32px 1px 32px !important;
}