.main-body {


    background: linear-gradient(rgba(0, 0, 0, 0.9) 0%,
            rgba(0, 0, 0, 0.7) 20%,
            rgba(0, 0, 0, 0.7) 80%,
            rgba(0, 0, 0, 0.9) 100%);

}


.main-page {
    width: 100% !important;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);

}


.video-container {
    // position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    // background-color: rgba(0, 0, 0, 0.4);
    background-color: rgb(20 20 20);
    min-height: 80%;
    z-index: -1;
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




.main-content {
    padding: 32px 32px 1px 32px !important;
    // background-color: rgba(0, 0, 0, 0.4);
    background-color: rgb(20 20 20);
}

.header {
    .nav {
        display: flex;
        position: fixed;
        background-color: transparent;
        flex-wrap: nowrap;
        justify-content: flex-end;

        .header-block {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            width: 100% !important;
            display: flex;
            align-items: center;
            height: 4rem !important;
            justify-content: space-between;
            padding: 0 16px;

            // Hide the images when in mobile view
            @media only screen and (max-width: 600px) {
                // .images {
                //     display: none;
                // }
            }
        }
    }
}

.images {
    margin-right: 16px;
}

@media only screen and (max-width: 600px) {
    .header-block {
        justify-content: center !important;
        flex-direction: column;
    }

    .nav {
        margin: 32px 0px;
    }
}